body{
    height: 1000px;
}

.up{
    background-color: rgb(41, 41, 41);
    color: white;
    display: flex;
    font-size: 30px;
}

.logo{
    margin-left: 60px;
    width: 80px;
    height: 80px;
}

.text{
    margin-left: 850px;
    display: flex;
    word-spacing: 20px;
}

.center-text{
    margin-top: 100px;
    font-size: 100px;
    text-align: center;
    text-decoration: double;
    margin-bottom: 100px;
}

.photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    text-align: center;
    margin: auto;
}
.box{
    width: 400px;
    height: 500px;

}

img{
    width: 400px;
    height: 250px;
    border-radius: 10px;
}
